header,
footer {
  border: 1px solid black;
  text-align: center;
}

/* aside {

  border: 1px solid black;
} */

.card {
  margin-bottom: 10px;
  /* justify-content: space-between; */
  /* width: 150px; */
}

section {
  padding: 3px;
}
/* 
.bottom-banner {
  padding: 20px;
} */
